input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d7d6d6;
  cursor: pointer;
  border: 8px solid white;
}
input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid white;
}
input[type="range"]::-ms-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid white;
}
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-ms-thumb {
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d7d6d6;
  cursor: pointer;
  border: 3px solid white;
}
